@model IEnumerable<LeDangQuang_DoAnTotNghiep.Models.DanhMuc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <div class="container-fluid px-4">
        <h1 class="mt-4" style="text-align: center;">Quản lý thông tin danh mục</h1>
    </div>
}
<p class="themmoibtn"><a href="@Url.Action("ThemDM","QLDanhMuc")" style="text-decoration: none; display: block; padding: 15px 25px;">Thêm danh mục</a></p>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Thông tin danh mục
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Mã danh mục</th>
                    <th>Tên danh mục</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.MaDM">
                        <td width="150px">@item.MaDM</td>
                        <td>
                            @item.TenDM
                        </td>
                        <td width="150px">
                            <p>
                                <a href="@Url.Action("SuaDM","QLDanhMuc",new { id = item.MaDM})" style="text-decoration: none;"><i class="fas fa-tools"></i> Sửa</a>
                            </p>
                            <p>
                                <i class="fas fa-trash-alt"></i>
                                @Ajax.ActionLink("Xóa", "XoaDM", new { id = item.MaDM },
                                    new AjaxOptions
                                         {
                                             Confirm = "Bạn có muốn xóa bản ghi này ?",
                                        OnComplete = "$('row_" + item.MaDM + "').remove()",
                                        HttpMethod = "Delete"
                                         })
                            </p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
